---
layout: default
---
<title>Quaternius • Tutorials</title>
<head>
	{% include metadata.html %}
</head>
<div class="tutorialWrap">
	{% assign number = 0 %}
	{% for tutorial in site.tutorials reversed %}
		{% assign number = number | plus: 1 %}

		<div class="tutorialTitle" ">
			<button class="tutorial" onclick="openTutorial('{{number}}')"   style="background-image: url('/assets/images/tutorials/{{tutorial.number}}_bg.png') {% if tutorial.patreon %} ,url('/assets/images/tutorials/patreon.png'){% endif %}; ""><b>{{tutorial.number}}</b> {{tutorial.name}}</button>
		</div>
		<div id="{{number}}" style="display:none;margin:auto;"  border="0">

			{% if tutorial.patreon %}
<button class="btn download"   style="border-top-left-radius:0px;border-bottom-right-radius:0px;" onclick=" window.open('{{tutorial.patreon}}','_blank');" >View on Patreon <i class="fas fa-heart" ></i></button>
{% endif %}

			<video width="80%" class="video" autoplay controls loop preload>
			  <source src="/assets/images/tutorials/{{tutorial.image}}.mp4" type="video/mp4">
			Your browser does not support the videos.
			</video>
			</div>
	{% endfor %}

</div>
